@echo off
set MARKER_FILE=C:\ansible-pull\last_run.marker
if exist %MARKER_FILE% exit /b 0

rem Clone or pull the latest playbooks
git clone https://github.com/sarangcr03/Ansible.git C:\ansible-pull\repo || git -C C:\ansible-pull\repo pull

rem Run the playbook
ansible-pull -U https://github.com/sarangcr03/Ansible.git -i localhost, -e ansible_connection=local playbook.yml

rem Create the marker file to indicate the playbook has been run
call C:\ansible-pull\marker_script.bat
